.navbar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: baseline;
  padding: 20px;
  .active {
    background-color: #8A2BE2;
    border-radius: 10px;
    font-weight: bold;
    color: white !important;
  }
  .nav-link {
    padding: 15px 10px;
    margin: 0 0 10px 0;
    cursor: pointer;
    text-decoration: none;
    color: #17191c;
    font-size: 14px;
    width:160px;
    &:hover {
      background-color: #8A2BE2;
      border-radius: 10px;
      font-weight: bold;
      color: white !important;
    }
    &.nav-link-closed{
      width:auto;
    }

  }

  .add-user-form{
    display: flex;
    flex-direction: column;
    .driver-options{
      display: flex;
      flex-direction: column;
    }

    label{
      margin-bottom:0;
    }

      .form-type{
        display: flex;
        .driver{
          width: 100%;
          display: flex;
          justify-content: center;
          cursor: pointer;
          padding: 10px;
        }
        .active{
          background: #8A2BE2;
          border-radius: 4px;
        }
        .user{
          width: 100%;
          display: flex;
          justify-content: center;
          cursor: pointer;
          padding: 10px;
        }
      }

    .gender-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin:10px;
      input{
        margin:0 10px;
      }
    }
  }
  .add-user-modal-actions{
    display: flex;
    justify-content: center;
    margin: 30px;
    .purple{
      background: #8A2BE2;
      border-radius: 4px;
      width: 150px;
      color:white;
      font-weight: bold;
    }
  }
}
