<template>
  <div class="navbar" >
    <NavItem  :image="'fas fa-th-large'" :name="'Dashboard'" :class="{ active: activeItem == 'Dashboard' }" />
<!--    <NavItem  :image="'fas fa-user '" :name="'Users'" :class="{ active: activeItem == 'Users' }" />-->
<!--    <NavItem  :image="'fas fa-envelope'" :name="'Email'" :class="{ active: activeItem == 'Email' }" />-->

    <NavItem  :image="'fas fa-chart-line'" :name="'Statistics'" :class="{ active: activeItem == 'Statistics' }" />
    <NavItem  :image="'fas fa-user '" :name="'Drivers'" :class="{ active: activeItem == 'Drivers' }" />

    <NavItem  :image="'fas fa-users'" :name="'Passengers'" :class="{ active: activeItem == 'Passengers' }" />
    <NavItem  :image="'fas fa-taxi'" :name="'Trips'" :class="{ active: activeItem == 'Trips' }" />
    <NavItem  :image="'fas fa-car-side'" :name="'Vehicles'" :class="{ active: activeItem == 'Vehicles' }" />
<!--    <NavItem  :image="'fas fa-cogs'" :name="'Settings'" :class="{ active: activeItem == 'Settings' }" />-->
    <div class="nav-link" @click="toggleAddUserModal"> <i class="fas fa-plus"></i> Add User </div>
    <div class="nav-link" @click="logout"> <i class="fas fa-power-off"></i> Logout </div>

    <Modal v-if="addUserModalOpened" :title="'Add User or Driver'" :subtitle="'Basic Information'">

      <form @submit.prevent="createUser" class="add-user-form">
        <div class="form-type">
          <div class="user" @click="form.car = null" :class="{'active':!form.car}"><b>User</b></div>
          <div class="driver" @click="form.car = car" :class="{'active':form.car}"><b>Driver</b></div>
        </div>
        <label for="username">Username</label>
        <input name="username" class="modal-input" type="text" v-model="form.username"/>
        <label for="lastname">Lastname</label>
        <input name="lastname" class="modal-input" type="text" v-model="form.lastname"/>


        <label for="email">Email</label>
        <input id="email" class="modal-input" type="text" v-model="form.email"/>
        <label for="age">Age</label>
        <input id="age" class="modal-input" type="text" v-model="form.age"/>
        <label for="phone">Phone</label>
        <input id="phone" class="modal-input" type="text" v-model="form.phone"/>
        <div class="gender-container">

        <input type="radio" value="true" v-model="form.gender" checked>
        <label >Male</label>

        <input type="radio" value="false" v-model="form.gender">
        <label >Female</label>
        </div>
        <div class="driver-options" v-if="form.car">
          <label id="cartype">Car Type</label>
          <input name="cartype" class="modal-input" type="text" v-model="form.car.type"/>
          <label id="seats">Seats</label>
          <input name="seats" class="modal-input" type="text" v-model="form.car.seats"/>
          <label id="model">Model</label>
          <input name="model" class="modal-input" type="text" v-model="form.car.model"/>
          <label id="year">Year</label>
          <input name="year" class="modal-input" type="text" v-model="form.car.year"/>
          <label id="serialNumber">Serial Number</label>
          <input name="serialNumber" class="modal-input" type="text" v-model="form.car.serialNumber"/>
        </div>
        <div class="add-user-modal-actions">
          <button type="submit" class="btn purple" @click="createNewUser">Save</button>
          <button type="button" class="btn" @click="toggleAddUserModal">Cancel</button>
        </div>
      </form>
    </Modal>
  </div>
</template>

<script>
import { mapGetters,mapActions } from "vuex";
export default {
  name: "NavBar",
  props:{
    opened: {
      type: Boolean,
      default: null
    }
  },
  components: {
    NavItem: () => import("./NavItem/NavItem"),
    Modal: () => import("../../Modal/Modal"),
  },
  data() {
    return {
      activeItem: false,
      addUserModalOpened: false,
      car: {
        year: "",
        status : true,
        serialNumber : null,
        model : "",
        seats : null,
        type : ""

      },
      form: {
        username: '',
        password: '1111',
        email: '',
        lastname: '',
        gender: true,
        age: null,
        phone: null,
        dateOfBirth: null,
        car: null
      }
    };
  },
  mounted() {
    this.activeItem = this.getActiveTab();
    this.$store.watch(this.getActiveTab, activeTab => {
      this.activeItem = activeTab;
    });
  },
  methods: {
    ...mapGetters(["getActiveTab"]),
    ...mapActions(["logOut",'createUser']),
    logout() {
      this.logOut().then(() => {
        this.$router.push("/");
      });
    },
    toggleAddUserModal(){
      this.addUserModalOpened = !this.addUserModalOpened;
    },
    createNewUser(){
      this.createUser(this.form).then(() => {
        this.toggleAddUserModal();
      })
    }
  },
};
</script>

<style scoped lang="scss">
@import "./navbar.scss";
</style>
