.navbar {
  min-width: 150px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: baseline;
  padding: 20px;
}
.navbar .active {
  background-color: #f1f1f1;
  font-weight: bold;
}
