<template>
    <div class="dashboard">
        <div class="content-container">
            <p class="heading">Settings</p>

        </div>
    </div>
</template>

<script>
    export default {
        name: "Settings",
        data() {
            return {
                coords: [40.1772, 44.50349],
            };
        },
        mounted() {


        },
        methods: {}
    };
</script>

<style scoped lang="scss">
    @import "settings";
</style>
