.dashboard {
  width: 100%;
  display: flex;
  .content-container {
    .yandex-map {
      margin: 20px;
      height: 100%;

      .ymap-container {
        height: 100%;
        ymaps {
          width: 100%;
        }
      }
    }
  }
}
