<template>
  <div class="input">
      <input :type='type' :placeholder='placeholder' :value='value' :v-model="model"/>
  </div>

</template>

<script>

export default {
  name: "Input",
  props:{
      type:{
        type:String,
          default: () => {
              return 'text'
          }
      },
      placeholder:{
          type:String,
          default: () => {
              return null
          }

      },
      value:{
          type:String,
          default: () => {
              return null
          }
      },
      model:{
          default: () => {
              return null
          }
      }
  },
  data(){
      return{

      }
  },
  methods:{
    
  }
};
</script>

<style scoped lang="scss">
@import "./input.scss";
</style>