<template>
  <div class="statistic-container" :style="{background: linearGradient}">
  <div class="icon-container">
    <i :class="icon" style="color:white"></i>
  </div>
  <div class="description">
    <div class="title">{{title}}</div>
    <div class="count">{{count }}</div>
  </div>
  </div>
</template>

<script>
export default {
  name: "TotalStatistics",
  props: {
    title: {
      type: String,
      default: () => {
        return null;
      },
    },
    icon: {
      type: String,
      default: () => {
        return null;
      },
    },
    count: {
      type: Number,
      default: () => {
        return null;
      },
    },
    subtitle: {
      type: String,
      default: () => {
        return null;
      },
    },
    color: {
      type:Array,
      default: () => {
        return ['#a52dd8', '#e29bf1']
      },
    }
  },
  data() {
    return {
      linearGradient: 'linear-gradient(45deg,' + this.color[0] + ',' + this.color[1] + ")"
    };
  },
  methods: {},

};
</script>

<style scoped lang="scss">
@import "total-statistics";
</style>
