.statistic-container{

    padding: 15px;
    border-radius: 25px;
    width:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
    .icon-container{
        margin-right: 20px;
        height: 70px;
        width: 70px;
        display: flex;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, .2);
        i{
           color:white;
        }
    }
    .description{

        align-items: flex-end;
        display: flex;
        flex-direction: column;
        .title{
            color:white;
            font-size: 16px;
            font-weight: 600;
        }
        .count{

            color:white;
            font-size: 16px;
            font-weight: 600;
        }
    }
}
