<template>
  <div class="vehicle-container" v-if="driver.car.status">
    <div class="vehicle-model">
<!--      <img :src="vehicle.image" alt="img">-->
        <img src="https://cdn3.iconfinder.com/data/icons/transport-icons-2/512/BT_c3side-512.png" alt="">
      <h1 class="model" :style="{backgroundColor:color}">{{driver.car.model}}</h1>
    </div>
    <div class="vehicle-information">
     <span class="properties"> <b>Fuel</b> : {{driver.car.fuel ? driver.car.fuel : "gasoline"}} </span>
     <span class="properties"> <b>Serial Number</b> : {{driver.car.serialNumber}} </span>
     <span class="properties"><b> Year</b> : {{driver.car.year}} </span>
     <span class="properties"><b>  Seating Capacity </b>: {{driver.car.seats}} </span>
     <span class="properties"> <b>Type </b>: {{driver.car.type}} </span>
     <span class="properties"><b> Driver Name </b>: {{driver.username}} </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "VehicleItem",
  props: {
    image: {
      default: () => {
          return "https://cdn3.iconfinder.com/data/icons/transport-icons-2/512/BT_c3side-512.png"
      },
    },
    driver: {
      type: Object,
      default: null
    },
    color: {
        default: () => {
            let colors =  ['#36C6D3','#a52dd8','#708090','#fda582','#2ed8b6']
            return colors[Math.floor(Math.random() * colors.length)];
        }
    }
  },
  data() {
    return{

    }
  },

  methods: {},
};
</script>

<style scoped lang="scss">
@import "./vehicle-item.scss";
</style>
