.vehicle-container{
display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding:5px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 345px;
    .vehicle-information{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .vehicle-model{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            max-width: 200px;
            max-height: 200px;
        }
        .model{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

}