<template>
  <div class="content-container" v-cloak>
    <p class="heading">All Passengers</p>
      <Loading v-if="!passengers.length" />
  
    <v-client-table :columns="columns" v-model="passengers" :options="options" v-if="passengers.length">
      <!--      <a slot="uri" slot-scope="props" target="_blank" :href="props.row.uri" class="glyphicon glyphicon-eye-open"></a>-->

      <!--            <div slot="child_row" slot-scope="props">-->
      <!--                The link to {{props.row.name}} is <a :href="props.row.uri">{{props.row.uri}}</a>-->
      <div slot="username" slot-scope="{row, update, setEditing, isEditing, revertValue}">
      <span @click="setEditing(true)" v-if="!isEditing()">
        <a>{{row.username }}</a>
      </span>
        <span v-else>
        <input type="text" v-model="row.username">
        <button type="button" class="btn btn-info btn-xs"
                @click="updateSelectedUser(row,row.username,setEditing,update,revertValue)">Submit</button>
        <button type="button" class="btn btn-default btn-xs" @click="revertValue(), setEditing(false)">Cancel</button>
      </span>
      </div>
      <div slot="lastname" slot-scope="{row, update, setEditing, isEditing, revertValue}">
      <span @click="setEditing(true)" v-if="!isEditing()">
        <a>{{row.lastname ? row.lastname : "No Data"}}</a>
      </span>
        <span v-else>
        <input type="text" v-model="row.lastname">
        <button type="button" class="btn btn-info btn-xs"
                @click="updateSelectedUser(row,row.lastname,setEditing,update,revertValue)">Submit</button>
        <button type="button" class="btn btn-default btn-xs" @click="revertValue(), setEditing(false)">Cancel</button>
      </span>
      </div>

    </v-client-table>
  </div>
</template>

<script>
  import {mapActions, mapGetters} from "vuex";
import Loading from "../../../Loading/Loading";
  export default {
    name: "Users",
    data() {
      return {
        passengers: [],
        columns: ['id','username','lastname', 'phone', 'email'],

        options: {
          headings: {
            id: 'ID',
            username: 'Username',
            lastname: 'Lastname',
            email: 'Email',
            phone: 'Phone',

          },
          editableColumns: ['username', 'email', 'phone','lastname','car'],
          sortable: ['id','username', 'email', 'phone','lastname','car'],
          filterable: ['id','username', 'email', 'phone','lastname','car'],
          texts: {
            filterPlaceholder: "Search passengers"
          }
        }
      }
    },
    mounted() {
      this.getAllPassengers();
      this.passengers = this.getPassengers();
      this.$store.watch(this.getPassengers, passengers => {
        this.passengers = passengers;
      });

    },
    methods: {
      ...mapActions(["getAllPassengers","updateUser"]),
      ...mapGetters(["getPassengers"]),
      updateSelectedUser(user,changedData,setEditing,update,revertValue){
        this.updateUser(user).then(()=>{
          update(changedData);
          setEditing(false);
        }).catch(()=>{
          revertValue();
        })
      }
    }

  };
</script>

<style scoped lang="scss">
  @import "passengers";
</style>
