<template>
    <div class="content-container" v-cloak>
        <p class="heading">All Trips</p>
         <Loading  v-if="!trips.length"/>
        <v-client-table :columns="columns" v-model="trips" :options="options" v-if="trips.length">

            <!--      <a slot="uri" slot-scope="props" target="_blank" :href="props.row.uri" class="glyphicon glyphicon-eye-open"></a>-->

            <!--            <div slot="child_row" slot-scope="props">-->
            <!--                The link to {{props.row.name}} is <a :href="props.row.uri">{{props.row.uri}}</a>-->
            <div slot="child_row" slot-scope="props">

                <div class="view-route" @click="viewRoute(props.row)">Show Route</div>
            </div>

        </v-client-table>
        <Modal v-if="showRoute" :title="'View Route'" :onClose="closeModal">
            <div id="viewRoute" style="width: 100%; height: 600px"></div>
        </Modal>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import Loading from "../../../Loading/Loading";
    import Modal from "../../../Modal/Modal";
    import ViewRoute from "../../../../helpers/viewRoute"
    export default {
        name: "Trips",
        components: {Modal, Loading},
        data() {
            return {
                trips: [],
                columns: ['id','fromAddress','toAddress', 'statusTrips', 'seats',"startTime", 'endTime'],
                showRoute:false,
                options: {
                    headings: {
                        id: 'ID',
                        fromAddress: 'Address from',
                        toAddress: 'Address To',
                        statusTrips: 'Status',
                        seats: 'Seats',
                        startTime: 'Start Time',
                        endTime: 'End Time',
                    },
                    editableColumns: ['statusTrips', 'startTime'],
                    sortable: ['statusTrips', 'startTime'],
                    filterable: ['statusTrips', 'startTime'],
                    texts: {
                        filterPlaceholder: "Search trips"
                    }
                }
            }
        },
        mounted() {
            this.getAllTrips();
            this.trips = this.getTrips();
            this.$store.watch(this.getTrips, trips => {
                this.trips = trips;
            });

        },
        methods: {
            ...mapActions(["getAllTrips","updateUser","createTrip",'sendDate']),
            ...mapGetters(["getTrips"]),
            viewRoute(trip){
                this.showRoute = true;
                new ViewRoute(this.trips)
            },
            closeModal(){
                this.showRoute = false;
            }
        }

    };
</script>

<style scoped lang="scss">
    @import "trips";
</style>
