<template>
  <div id="app">
        <Login v-if="!token"/>
        <LoggedIn v-if="token"/>
  </div>
</template>

<script>
import "@fortawesome/fontawesome-free/css/all.min.css";
import "@fortawesome/fontawesome-free/js/all.js";
import Login from "./components/Login/Login";
import LoggedIn from "./components/LoggedIn/LoggedIn";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "App",
  data() {
    return {
      token: false,
    };
  },
  components: {
    Login,
    LoggedIn,
  },
  methods: {
    ...mapGetters(["getToken"]),
    ...mapActions(['createAdmin'])
  },
  mounted() {
    this.token = this.getToken();
    this.$store.watch(this.getToken, token=> {
      this.token = token;
    });
    console.log(this.token)
  }

};
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
}
@import "./app.scss";
</style>
