.statistics-container {
  display: flex;
  width: 100%;
  height: inherit;
  flex-direction: column;

  .statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .line-charts {
    width: 100%;

    .line-chart {
      width: 100%;
    }
  }

  .bar-charts {
    display: flex;
    width: 100%;

    .bar-chart {
      width: 100%;
    }
  }

  .pie-charts {
    display: flex;
    width: 100%;
    margin-top: 40px;

    .pie-chart {
      width: 100%;
    }
  }
}