<template>
    <div class="statistics-container">
        <div class="statistics">

            <TotalStatistics :icon="'fas fa-user-friends fa-lg'" :title="'New Users'" :count="newUsers.length"/>
            <TotalStatistics :icon="'fas fa-ban fa-lg'" :title="'Cancelled Trips'" :count="cancelledTrips.length"
                             :color="['#2ed8b6','#59e0c5']"/>


            <TotalStatistics :icon="'fas fa-calendar-alt fa-lg'" :title="'Booked Trips'" :count="bookedTrips.length"
                             :color="['#708090','#7c8ea0']"/>
            <TotalStatistics :icon="'fas fa-check fa-lg'" :title="'Completed Trips'" :count="completedTrips.length"
                             :color="['#f30c41','#eb66dd']"/>

        </div>
        <div class="line-charts">
            <div class="line-chart">
                <line-chart
                        :chart-data="tripCollection"
                        :options="options"
                ></line-chart>
            </div>
<!--            <div class="line-chart">-->
<!--                <line-chart-->
<!--                        :chart-data="earningCollection"-->
<!--                        :options="options"-->
<!--                ></line-chart>-->
<!--            </div>-->
        </div>
        <div class="pie-charts">
            <div class="pie-chart">
                <pie-chart :chart-data="tripStatistics" :options="options"></pie-chart>
            </div>

        </div>
    </div>
</template>

<script>
    import LineChart from "../../../../helpers/LineChart.js";
    import PieChart from "../../../../helpers/PieChart.js";
    import TotalStatistics from "../../../TotalStatistics/TotalStatistics";
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "Statistics",
        components: {
            TotalStatistics,
            LineChart,
            PieChart,
        },
        data() {
            return {
                tripCollection: null,
                earningCollection: null,
                tripStatistics: null,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                },
                newUsers: [],
                cancelledTrips: [],
                completedTrips: [],
                bookedTrips: [],
            };
        },
        mounted() {
            let sevenDaysAgo = this.last7Days()

            this.getCancelledTripsCount().then(() => {
                this.cancelledTrips = this.getCancelledTrips();
                this.fillData()
            });
            this.getCompletedTripsCount().then(() => {
                this.completedTrips = this.getCompletedTrips();
                this.fillData()
            });
            this.getBookedTripsCount().then(() => {
                this.bookedTrips = this.getBookedTrips();
                this.fillData()
            });
            this.getUsersByDate(sevenDaysAgo[sevenDaysAgo.length - 1]).then(() => {
                this.newUsers = this.getNewUsers();
                this.fillData()
            });


            this.$store.watch(this.getNewUsers, newUsers => {
                this.newUsers = newUsers;
                this.fillData()
            });
            this.$store.watch(this.getCancelledTrips, trips => {
                this.cancelledTrips = trips;
                this.fillData()
            });
            this.$store.watch(this.getBookedTrips, trips => {
                this.bookedTrips = trips;
                this.fillData()
            });
            this.$store.watch(this.getCompletedTrips, trips => {
                this.completedTrips = trips;
                this.fillData()
            });

        },
        methods: {
            ...mapActions(['getUsersByDate', 'getCancelledTripsCount', 'getBookedTripsCount', 'getCompletedTripsCount']),
            ...mapGetters(['getNewUsers', 'getCancelledTrips', 'getBookedTrips', 'getCompletedTrips']),
            fillData() {
                this.tripCollection = {
                    labels: [
                        "25/05",
                        "26/05",
                        "27/05",
                        "28/05",
                        "29/05",
                        "30/05",
                        "31/05",
                    ],
                    datasets: [
                        {
                            label: "Users",
                            backgroundColor: "#8A2BE2",
                            data: [0, 9, 4, 16, 2, 4, this.newUsers.length],
                        },
                    ],
                };
                this.earningCollection = {
                    labels: [
                        "January",
                        "February",
                        "March",
                        "April",
                        "May",
                        "June",
                        "July",
                    ],
                    datasets: [
                        {
                            label: "Earnings",
                            backgroundColor: "#9AD0F5",
                            data: [40, 39, 10, 40, 39, 80, 40],
                        },
                    ],
                };
                this.tripStatistics = {
                    hoverBackgroundColor: "red",
                    hoverBorderWidth: 10,
                    labels: ["Completed", "Canceled", "Booked"],

                    datasets: [
                        {
                            label: "Trip Statistics",
                            backgroundColor: ["#41B883", "#E46651", "#00D8FF"],
                            data: [this.completedTrips.length, this.cancelledTrips.length, this.bookedTrips.length],
                        },
                    ],

                };

            },
            getRandomInt() {
                return Math.floor(Math.random() * (50 - 5 + 1)) + 5;
            },
            formatDate(date) {
                let dd = date.getDate();
                let mm = date.getMonth() + 1;
                let yyyy = date.getFullYear();

                date = yyyy + '/' + mm + '/' + dd
                let x = new Date(date)

                return x;
            },
            last7Days() {
                let result = [];
                for (let i = 0; i < 7; i++) {
                    let d = new Date();
                    d.setDate(d.getDate() - i);
                    result.push(this.formatDate(d))
                }
                return result;
            },
        },
    };
</script>

<style scoped lang="scss">
    @import "./statistics.scss";
</style>
