.nav-link {
  padding: 15px 10px;
  margin: 0 0 10px 0;
  cursor: pointer;
  text-decoration: none;
  color: #17191c;
  font-size: 14px;
  width: 100%;
}
.nav-link:hover {
  background-color: #f1f1f1;
  font-weight: bold;
}
