<template>
    <router-link :to="'/' + name.toLowerCase() " class="nav-link" tag="div" @click.native="changeTab(name),onClick">
        <i :class="image"></i>
        {{ name }}
    </router-link>
</template>

<script>
    import {mapActions} from "vuex";

    export default {
        name: "NavItem",
        props: {
            activeTab: {
                type: Function
            },
            name: {
                type: String,
                required: true
            },
            image: {
                type: String,
                default: null
            },
            onClick: {
                type: Function,
                default: () => {
                    return null
                }

            }
        },
        data() {
            return {};
        },

        methods: {
            ...mapActions(['changeTab']),
        }
    };
</script>

<style scoped lang="scss">
    @import "./navitem.scss";
</style>
