<template>
  <div class="main">
    <Header :toggleNavbar="toggleNavbar"/>
    <div class="container-loggedIn">
      <NavBar :opened="navbarOpened"/>
      <router-view />
    </div>
    <Footer />
  </div>
</template>

<script>
export default {
  name: "LoggedIn",
  components: {
    Header: () => import("./Header/Header"),
    Footer: () => import("./Footer/Footer"),
    NavBar: () => import("./NavBar/NavBar"),
  },
  data(){
    return{
      navbarOpened: true
    }
  },
  methods:{
    toggleNavbar(){
      this.navbarOpened = !this.navbarOpened;
    }
  }
};
</script>

<style scoped lang="scss">
@import "./loggedin.scss";
</style>
