<template>
    <div class="content-container" v-cloak>
        <p class="heading">All Trips</p>
         <Loading  v-if="!trips.length"/>
        <v-client-table :columns="columns" v-model="trips" :options="options" v-if="trips.length">

            <!--      <a slot="uri" slot-scope="props" target="_blank" :href="props.row.uri" class="glyphicon glyphicon-eye-open"></a>-->

            <!--            <div slot="child_row" slot-scope="props">-->
            <!--                The link to {{props.row.name}} is <a :href="props.row.uri">{{props.row.uri}}</a>-->


        </v-client-table>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "Trips",
        data() {
            return {
                trips: [],
                columns: ['id','fromLongitude','toLongitude', 'statusTrips', 'seats',"startTime", 'endTime'],

                options: {
                    headings: {
                        id: 'ID',
                        fromLongitude: 'From',
                        toLongitude: 'To',
                        statusTrips: 'Status',
                        seats: 'Seats',
                        startTime: 'Start Time',
                        endTime: 'End Time'

                    },
                    editableColumns: ['statusTrips', 'startTime'],
                    sortable: ['statusTrips', 'startTime'],
                    filterable: ['statusTrips', 'startTime'],
                    texts: {
                        filterPlaceholder: "Search users"
                    }
                }
            }
        },
        mounted() {
            this.getAllTrips();
            this.trips = this.getTrips();
            this.$store.watch(this.getTrips, trips => {
                this.trips = trips;
            });

        },
        methods: {
            ...mapActions(["getAllTrips","updateUser","createTrip"]),
            ...mapGetters(["getTrips"]),

        }

    };
</script>

<style scoped lang="scss">
    @import "trips";
</style>
