<template>
    <div class="dashboard">

        <div class="content-container map">
            <p class="heading">Live Location</p>
            <div class="yandex-map" v-if="trips.length">
                <div id="map" style="width: 100%; height: 100%"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import Map from "../../../../helpers/yandexmap";
    export default {
        name: "Dashboard",
        data() {
            return {
                trips:[],
                currentCoords: [],
                showRoutes:false
            };
        },

        mounted() {

            this.getAllTrips().then(() => {
                this.trips = this.getTrips();
                new Map(this.trips);
            });
            this.$store.watch(this.getTrips, trips => {
                this.trips = trips;
                new Map(this.trips);
            });

        },

        methods: {
            ...mapActions(["getAllTrips"]),
            ...mapGetters(["getTrips"]),
        }
    };
</script>

<style scoped lang="scss">
    @import "./dashboard.scss";
</style>
