.dashboard {
  width: 100%;
  display: flex;
}
.dashboard .content-container {
  margin: 20px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: #fff;
}
.dashboard .content-container .heading {
  vertical-align: middle;
  line-height: 17px;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  color: #3a405b;
}
.dashboard .content-container .yandex-map {
  margin: 20px;
}
.dashboard .content-container .yandex-map .ymap-container {
  height: 400px;
  width: 100%;
}
.dashboard .content-container .yandex-map .ymap-container ymaps {
  width: 100%;
}
