.dashboard {
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;

  .content-container {
    &.map{
      height: 100%;
    }

    .yandex-map {
      margin: 20px;
      height: 100%;

      .ymap-container {
        height: 100%;
        ymaps {
          width: 100%;
        }
      }
    }
  }
}
