<template>
  <div class="vehicle">
    <h1>All vehicles</h1>
    <div class="all-vehicles">
    <VehicleItem v-for="(driver,i) in drivers" :driver="driver" :key="i"/>
    </div>
  </div>

</template>

<script>

  import {mapActions, mapGetters} from "vuex";

export default {
  name: "Vehicles",
  components: {
    VehicleItem: () =>import("./VehicleItem/VehicleItem")
  },
  mounted(){
    this.getAllDrivers();
    this.drivers = this.getDrivers();
    this.getDriversCar()
    this.$store.watch(this.getDrivers, drivers => {
      this.drivers = drivers;
    });
  },

  data(){
    return{
      drivers: null,
      vehicles: [],
      vehicle: {
        model:'Nissan Tiida',
        image:require('../../../../assets/nissan-tiida.jpg'),
        fuel: 'Gasoline',
        purchase:'23 June 2017',
        seating:'5 person',
        type:'SUV',
        driver:'Joy Frenk'
      }
    }
  },
  methods:{
    ...mapActions(["getAllDrivers"]),
    ...mapGetters(["getDrivers"]),
    getDriversCar(){
      this.drivers.map((driver)=>{
          this.vehicles.push(driver.car)
      })
    }

  },
};
</script>

<style scoped lang="scss">
@import "./vehicles.scss";
</style>
