<template>
  <div class="header">
    <div class="left-side">
      <div class="logo">
        <img src="../../../assets/taxi.png" alt="logo" />
      </div>
      <IconButton :image="'fas fa-bars fa-lg'" :onClick="toggleNavbar" />
      <IconButton :image="'fas fa-expand-arrows-alt fa-lg'" :onClick="test" />
    </div>

    <div class="admin-control">
      
      <IconButton :image="'far fa-bell fa-lg'" :onClick="() => toggleAddDriverModal()" />
      <IconButton :image="'far fa-envelope fa-lg'" :onClick="test" />
      <IconButton :image="'fas fa-ellipsis-v'" :onClick="test" />
      <IconButton :image="'fas fa-power-off'" :onClick="logout" />
    </div>
    <Modal v-if="addDriverModalOpened" :title="'Add Driver'" :subtitle="'basic Information'">
      <Input :placeholder=""/>
      <Input/>
      <Input/>
      <Input/>
    </Modal>
  </div>
  
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "Header",
  props: {
    toggleNavbar: {
      type:Function,
      default: () => {
        return null;
      }
    }
  },
  data(){
    return{
      addDriverModalOpened: false
    }
  },
  components: { IconButton: () => import("../../IconButton/IconButton"),
                Modal: () => import("../../Modal/Modal"),
                Input: () => import("../../Input/Input")},
  methods: {
    ...mapActions(["logOut"]),
    test() {
      console.log(this.$root, "ICON BUTTON COPMPONTENT");
    },
    toggleAddDriverModal(){
      console.log("toggle modal add river")
      this.addDriverModalOpened = !this.addDriverModalOpened;
    },
    logout() {
      this.logOut().then(() => {
        this.$router.push("/");
      });
    },
  },
};
</script>

<style scoped lang="scss">
@import "./header.scss";
</style>
