.header{
  display:flex;
  justify-content:space-between;
  padding:20px 30px;
  align-items: center;
  .left-side{
    display:flex;
    align-items:center;
    .logo{
      margin-right:20px;
      img{
        height: 40px;
      }
    }
  }
  
  .admin-control{
    display: flex;
  }
  .modal{
    .row{
      ju
    }
  }
}