<template>
  <div class="header">
    <div class="left-side">
      <div class="logo">
        <img src="../../../assets/taxi.png" alt="logo" />
      </div>
      <IconButton :image="'fas fa-bars fa-lg'" :onClick="toggleNavbar" />
      <IconButton :image="'fas fa-expand-arrows-alt fa-lg'" :onClick="test" />
    </div>

    <div class="admin-control">
      
      <IconButton :image="'far fa-bell fa-lg'" :onClick="() => toggleAddDriverModal()" />
      <IconButton :image="'far fa-envelope fa-lg'" :onClick="test" />
      <IconButton :image="'fas fa-ellipsis-v'" :onClick="test" />
      <IconButton :image="'fas fa-power-off'" :onClick="logout" />
    </div>
    <Modal v-if="addUserModalOpened" :title="'Add User'" :subtitle="'Basic Information'">
      <form @submit.prevent="login" class="add-user-form">
      <div class="container">
        <div class="row">
          <input class="modal-input" type="text" v-model="form.username"/>
          <input class="modal-input" type="text" v-model="form.lastname"/>
      </div>
      </div>
      <div class="container">
        <div class="row">
          <input class="modal-input" type="text" v-model="form.email"/>
          <input class="modal-input" type="text" v-model="form.gender"/>
      </div>
      </div>
      <div class="add-user-modal-actions">
        <button type="submit" class="btn">Save</button>
        <button type="button" class="btn">Cancel</button>
      </div>
      </form>
    </Modal>
  </div>
  
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "Header",
  props: {
    toggleNavbar: {
      type:Function,
      default: () => {
        return null;
      }
    }
  },
  data(){
    return{
      addDriverModalOpened: false,
      form: {
        username: '',
        password: '',
        email: '',
        lastname: '',
        gender: '',
        age: null,
        phone: null,
        dateOfBirth: null
      }
    }
  },
  components: { IconButton: () => import("../../IconButton/IconButton"),
                Modal: () => import("../../Modal/Modal"),
                Input: () => import("../../Input/Input")},
  methods: {
    ...mapActions(["logOut"]),
    test() {
      console.log(this.$root, "ICON BUTTON COPMPONTENT");
    },
    toggleAddDriverModal(){
      console.log("toggle modal add river")
      this.addDriverModalOpened = !this.addDriverModalOpened;
    },
    logout() {
      this.logOut().then(() => {
        this.$router.push("/");
      });
    },
  },
};
</script>

<style scoped lang="scss">
@import "./header.scss";
</style>
