.header{
  display:flex;
  justify-content:space-between;
  padding:20px 30px;
  align-items: center;
  .left-side{
    display:flex;
    align-items:center;
    .logo{
      margin-right:20px;
      img{
        height: 40px;
      }
    }
  }
  
  .admin-control{
    display: flex;
  }
  .modal{
    .add-user-form{
      .row{
        margin:10px 0;
        justify-content: space-between;
        flex-wrap: nowrap;
        input{
          width:100%;
          margin:0 10px;
        }        
      }
      .add-user-modal-actions{
        margin: 40px 0;
        display: flex;
        justify-content: space-around;
      }
    }
    
    
  }
}