<template>
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ title }}</h4>
          <button type="button" @click="onClose" class="close">&times;</button>
        </div>

        <div class="modal-body">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Modal",
  props: {
    title: {
      type: String,
      default: () => {
        return null;
      },
    },
    subtitle: {
      type: String,
      default: () => {
        return null;
      },
    },
    onClose: {
      type: Function,
      default: () => {
        return null;
      },
    },
  },
  data() {
    return {};
  },
  methods: {},

};
</script>

<style scoped lang="scss">
@import "modal";
</style>
