.modal{
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-dialog{
        min-width: 40%;
    }
    .modal-header{
        justify-content: center;
    }
}
