
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.login{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    height: 100vh;
    background-color: #F4F5F5;
    .login-form-container{
        background-image: linear-gradient(#338390, #28B6CD); 
        padding: 80px 40px;
        border-radius: 60px;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
        z-index: 1;
        width:400px;
        h2{
            color:#fff;
            text-transform: uppercase;
        }
        .login-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .wrapper{
                margin: 10px 0;
                position: relative;
                width: 100%;
                height: 50px;
                span{
                    color: #fff;
                    position: absolute;
                    z-index: 1;
                    top:50%;
                    left:10px;
                    transition: 200ms ease all;
                    transform: translateY(-50%);
                    font-size:14px;
                }
                .focused-input{
                    top:0;
                    left:0;
                    font-size:12px;
                    color:#fff;

                }
                .login-input{
                    -webkit-box-shadow: 0 0 0px 1000px white inset;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                    z-index:2;
                    padding:0 10px;
                    position: absolute;
                    width: 100%;
                    height:100%;
                    left:0;
                    top:0;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    border-bottom: 1px solid #fff;
                    color:white;
                    
                }
                .login-input::placeholder{
                    color: #fff;
                }
            }
            .btn-login{
                color: #338390;
                background-color: #fff;
                cursor: pointer;
                width: 100px;
                border:none;
                outline:none;
                padding: 10px 20px;
                border-radius: 20px;
                margin-top: 20px;
                &:hover{
                    background-color: #338390;
                    color: #fff;
                }
               
            }
        }
    }
    &:before {
        content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    background-image: url(https://www.itl.cat/pngfile/big/181-1811307_evening-car-traffic-empire-state-building-road-new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
      }
}
