<template>
  <div class="login">
    <div class="login-form-container">
      <div class="logo-container">
        <img src="../../assets/taxi.png" alt="logo" />
      </div>
      <h2>log in</h2>
      <form @submit.prevent="login" class="login-form">
        <div class="wrapper">
          <span :class="{ 'focused-input': loginLabel || form.username }"
            >Login</span
          >
          <input
            id="login"
            class="login-input"
            type="text"
            v-model="form.email"
            @focus="loginLabel = true"
            @blur="form.email ? (loginLabel = true) : (loginLabel = false)"
          />
        </div>
        <div class="wrapper">
          <span :class="{ 'focused-input': passwordLabel || form.password }"
            >Password</span
          >
          <input
            id="password"
            type="password"
            class="login-input"
            v-model="form.password"
            @focus="passwordLabel = true"
            @blur="
              form.password ? (passwordLabel = true) : (passwordLabel = false)
            "
          />
        </div>
        <button type="submit" class="btn-login">Login</button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "Login",
  data() {
    return {
      form: {
        username: null,
        password: null
      },
      loginLabel: false,
      passwordLabel: false
    };
  },
  methods: {
    ...mapActions(["auth"]),
    login() {
      this.auth(this.form).then(() => {
          this.$router.push("/dashboard");   
      });
    }
  }
};
</script>

<style scoped lang="scss">
@import "./login.scss";
</style>
