<template>
  <div class="header">
    <div class="left-side">
      <div class="logo">
        <img src="../../../assets/taxi.png" alt="logo" />
      </div>
      <IconButton :image="'fas fa-bars fa-lg'" :onClick="toggleNavbar" />
      <!-- <IconButton :image="'fas fa-expand-arrows-alt fa-lg'" :onClick="test" /> -->
    </div>

    <div class="admin-control">
      
      <IconButton :image="'fas fa-plus'" :onClick="() => toggleAddUserModal()" />
      <!-- <IconButton :image="'far fa-envelope fa-lg'" :onClick="test" /> -->
      <!-- <IconButton :image="'fas fa-ellipsis-v'" :onClick="test" /> -->
      <IconButton :image="'fas fa-power-off'" :onClick="logout" />
    </div>
    <Modal v-if="addUserModalOpened" :title="'Add Driver'" :subtitle="'Basic Information'">
      <form @submit.prevent="createUser" class="add-user-form">

          <label for="username">Username</label>
          <input name="username" class="modal-input" type="text" v-model="form.username"/>
          <label for="lastname">Lastname</label>
          <input name="lastname" class="modal-input" type="text" v-model="form.lastname"/>


          <label for="email">Email</label>
          <input id="email" class="modal-input" type="text" v-model="form.email"/>
        <label >Gender</label>
        <input type="radio" value="true" v-model="form.gender" checked>
        <label >Male</label>

        <input type="radio" value="false" v-model="form.gender">
        <label >Female</label>
        {{form.gender}}
        <label id="cartype">Car Type</label>
        <input name="cartype" class="modal-input" type="text" v-model="form.car.type"/>
        <label id="seats">Seats</label>
        <input name="seats" class="modal-input" type="text" v-model="form.car.seats"/>
        <label id="model">Model</label>
        <input name="model" class="modal-input" type="text" v-model="form.car.model"/>
      <div class="add-user-modal-actions">
        <button type="submit" class="btn" @click="createNewUser">Save</button>
        <button type="button" class="btn" @click="toggleAddUserModal">Cancel</button>
      </div>
      </form>
    </Modal>
  </div>
  
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "Header",
  props: {
    toggleNavbar: {
      type:Function,
      default: () => {
        return null;
      }
    }
  },
  data(){
    return{
      addUserModalOpened: false,
      form: {
        username: '',
        password: '1111',
        email: '',
        lastname: '',
        gender: true,
        age: null,
        phone: null,
        dateOfBirth: null,
        car: {
          year: "2016",
          status : true,
          serialNumber : 1234,
          model : "Mercedes Benz",
          seats : 5,
          type : "C class"

        }
      }
    }
  },
  components: { IconButton: () => import("../../IconButton/IconButton"),
                Modal: () => import("../../Modal/Modal")},
  methods: {
    ...mapActions(["logOut",'createUser']),
    toggleAddUserModal(){
      this.addUserModalOpened = !this.addUserModalOpened;
    },
    logout() {
      this.logOut().then(() => {
        this.$router.push("/");
      });
    },
    createNewUser(){
      this.createUser(this.form).then(() => {
        this.toggleAddUserModal();
      })
    }

  },
};
</script>

<style scoped lang="scss">
@import "./header.scss";
</style>
