<template>
    <div class="loading-container">
        <div class="loading"></div>
    </div>

</template>

<script>

export default {
  name: "Loading",
  data(){
      return{

      }
  },
  methods:{
    
  }
};
</script>

<style scoped lang="scss">
@import "loading";
</style>