.delete-user{
  display: flex;
  justify-content: flex-end;
  color:red;
  cursor: pointer;

}
.purple{
  background-color: #8A2BE2;
  outline: none;
  border: none;
  margin-left: 10px;
  color:white;
}