<template>
  <div class="driver-container">
    <div class="add-driver-header">
      <h1>Add Driver</h1>
    </div>
    <div class="add-driver-content">
      <h2>Basic Information</h2>
      <Input :type="'text'" :placeholder="'First Name'" />
      <Input :type="'text'" :placeholder="'Last Name'" />
      <Input :type="'text'" :placeholder="'Street Address'" />
      <Input :type="'text'" :placeholder="'City'" />
      <Input :type="'text'" :placeholder="'Country'" />
      <Input :type="'text'" :placeholder="'Email'" />
    </div>
    <div class="add-driver-information">
         <h2>Vehicle Information</h2>
         <Input :type="'text'" :placeholder="'Vehicle Number'" />
        <Input :type="'text'" :placeholder="'Vehicle Type'" />
        <Input :type="'text'" :placeholder="'Vehicle Model'" />
        <Input :type="'text'" :placeholder="'Tax renewal date'" />

    </div>
  </div>
</template>

<script>
export default {
  name: "AddDriver",
  components: {
    Input: () => import("../../../../Input/Input"),
  },
  props: {},
  data() {
    return {};
  },

  methods: {},
};
</script>

<style scoped lang="scss">
@import "./add-driver.scss";
</style>
