<template>
  <div class="content-container" v-cloak>
    <p class="heading">All Drivers</p>
    <v-client-table :columns="columns" v-model="drivers" :options="options" v-if="drivers.length">

      <!--      <a slot="uri" slot-scope="props" target="_blank" :href="props.row.uri" class="glyphicon glyphicon-eye-open"></a>-->

      <!--            <div slot="child_row" slot-scope="props">-->
      <!--                The link to {{props.row.name}} is <a :href="props.row.uri">{{props.row.uri}}</a>-->
      <div slot="username" slot-scope="{row, update, setEditing, isEditing, revertValue}">
      <span @click="setEditing(true)" v-if="!isEditing()">
        <a>{{row.username }}</a>
      </span>
        <span v-else>
        <input type="text" v-model="row.username">
        <button type="button" class="btn btn-info btn-xs"
                @click="updateSelectedUser(row,row.username,setEditing,update,revertValue)">Submit</button>
        <button type="button" class="btn btn-default btn-xs" @click="revertValue(), setEditing(false)">Cancel</button>
      </span>
      </div>
      <div slot="lastname" slot-scope="{row, update, setEditing, isEditing, revertValue}">
      <span @click="setEditing(true)" v-if="!isEditing()">
        <a>{{row.lastname ? row.lastname : "No Data"}}</a>
      </span>
        <span v-else>
        <input type="text" v-model="row.lastname">
        <button type="button" class="btn btn-info btn-xs"
                @click="updateSelectedUser(row,row.lastname,setEditing,update,revertValue)">Submit</button>
        <button type="button" class="btn btn-default btn-xs" @click="revertValue(), setEditing(false)">Cancel</button>
      </span>
      </div>
      <div slot="child_row" slot-scope="props">

        <div class="information">
          <div class="info"><b>Gender: </b> {{props.row.gender ? "Male" : "Female"}}</div>
          <div class="info"><b>Age: </b> {{props.row.age}}</div>
          <div class="info"><b>Date of Birth: </b> {{props.row.dateOfBirth ? props.row.dateOfBirth : "Not mentioned"}}</div>
          <div class="info"><b>Date of Registration: </b> {{props.row.dateOfRegistration}}</div>
        </div>
        <div class="accept-user" @click="acceptDriver(props.row)">
          Verify driver
        </div>
        <div class="delete-user" @click="deleteDriver(props.row.id)">
          Delete user
        </div>
      </div>
    </v-client-table>
  </div>
</template>

<script>
  import {mapActions, mapGetters} from "vuex";

  export default {
    name: "Users",
    data() {
      return {
        drivers: [],
        columns: ['id','username','lastname', 'phone', 'email','car.status'],
        options: {
          headings: {
            id: 'ID',
            username: 'Username',
            lastname: 'Lastname',
            email: 'Email',
            phone: 'Phone',
            'car.status':'Status'
          },

          editableColumns: ['username', 'email', 'phone','lastname','car.status'],
          sortable: ['id','username', 'email', 'phone','lastname','car.status'],
          filterable: ['id','username', 'email', 'phone','lastname','car.status'],
          texts: {
            filterPlaceholder: "Search drivers"
          }
        }
      }
    },
    mounted() {
      this.getAllDrivers();
      this.drivers = this.getDrivers();
      this.handleDriverStatus()

      this.$store.watch(this.getDrivers, drivers => {
        this.drivers = drivers;
        this.handleDriverStatus()
      });
    },
    methods: {
      ...mapActions(["getAllDrivers","updateUser",'deleteDriver','changeDriverStatus']),
      ...mapGetters(["getDrivers"]),
      updateSelectedUser(user,changedData,setEditing,update,revertValue){
        user.car.status === "Verified" ?  user.car.status = true : user.car.status = false
        this.updateUser(user).then(()=>{
          update(changedData);
          setEditing(false);
        }).catch(()=>{
          revertValue();
        })
      },
      handleDriverStatus(){
        this.drivers.map((driver) => {
          return driver.car.status ? driver.car.status = "Verified" : driver.car.status ="Not verified"
        });
      },
      acceptDriver(driver){
        driver.status= true;
        this.changeDriverStatus(driver)
      }

    }

  };
</script>

<style scoped lang="scss">
  @import "drivers";
</style>
