<template>
   <div class="modal" :id="id">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
       <slot></slot>
        
      </div>
    </div>
  </div>

</template>

<script>

export default {
  name: "Modal",
  props:{
      id: {
        type: String,
        default: () =>{
          return null
        }
      }
  },
  data(){
      return{

      }
  },
  methods:{
    
  }
};
</script>

<style scoped lang="scss">
@import "modal";
</style>