<template>
   <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">{{title}}</h4>
          <button type="button" class="close">&times;</button>
        </div>
        
        <div>
        
      </div>
    </div>
  </div>

</template>

<script>

export default {
  name: "Modal",
  props:{
     title: {
       type:String,
       default: () => {
         return null
       }
     },
     subtitle: {
       type:String,
       default: () => {
         return null
       }
     }
  },
  data(){
      return{

      }
  },
  methods:{
    
  },
  mounted(){
    console.log("MOdals")
  }
};
</script>

<style scoped lang="scss">
@import "modal";
</style>