<template>
  <div class="input">

    
  </div>

</template>

<script>

export default {
  name: "Input",
  props:{
      type:{
        type:String,
        default:"text"
      },
      placeholder:{
          type:String,
          default:null
      },
      value:{
          type:String,
          default:null
      }
  },
  data(){
      return{

      }
  },
  methods:{
    
  }
};
</script>

<style scoped lang="scss">
@import "modal";
</style>