.modal{
    position: absolute;
    /* z-index: 999999999999; */
    /* height: 100vh; */
    /* width: 100%; */
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}