<template>
   <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

</template>

<script>

export default {
  name: "Input",
  props:{
      type:{
        type:String,
        default:"text"
      },
      placeholder:{
          type:String,
          default:null
      },
      value:{
          type:String,
          default:null
      }
  },
  data(){
      return{

      }
  },
  methods:{
    
  }
};
</script>

<style scoped lang="scss">
@import "modal";
</style>