<template>

<div>

</div>
</template>
<script>

    export default {
        name: "EditableRow",
        props: {
            row: {
                type:Object,
                default: () => {
                    return null;
                },
            },
            rowData: {
                default: () => {
                    return null;
                },
            },
            updateUser: {
                type: Function,
                default: () => {
                    return null;
                }
            },
        },
        data() {
            return {}
        },
    };
</script>

<style scoped lang="scss">
    @import "editable-row";
</style>
