.table-container {
  padding: 20px;
}
.table-container table {
  border-collapse: collapse;
  width: 100%;
  padding: 20px;
}
.table-container table tr {
  border: 1px solid #dee2e6;
}
.table-container table tr td {
  border-right: 1px solid #dee2e6;
  padding: 10px;
}
.table-container table tr .header {
  font-weight: 700;
}
.table-container table tr .table-data {
  font-size: 12px;
}
