.table-container {
  padding: 20px;
  table {
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
    tr {
      border: 1px solid #dee2e6;
      td {
        border-right: 1px solid #dee2e6;
        padding: 10px;
      }
      .header {
          font-weight: 700;
      }
      .table-data{
          font-size:12px;
      }
    }
  }
}
