input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f4f5f5;
}
.login .login-form-container {
  background-image: linear-gradient(#338390, #28b6cd);
  padding: 80px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.login .login-form-container h2 {
  color: #fff;
  text-transform: uppercase;
}
.login .login-form-container .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login .login-form-container .login-form .wrapper {
  margin: 10px 0;
  position: relative;
  width: 200px;
  height: 50px;
}
.login .login-form-container .login-form .wrapper span {
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  transition: 200ms ease all;
  transform: translateY(-50%);
  font-size: 14px;
}
.login .login-form-container .login-form .wrapper .focused-input {
  top: 0;
  left: 0;
  font-size: 12px;
  color: #fff;
}
.login .login-form-container .login-form .wrapper .login-input {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 2;
  padding: 0 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  color: white;
}
.login .login-form-container .login-form .wrapper .login-input::placeholder {
  color: #fff;
}
.login .login-form-container .login-form .btn-login {
  color: #338390;
  background-color: #fff;
  cursor: pointer;
  width: 100px;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
}
.login .login-form-container .login-form .btn-login:hover {
  background-color: #338390;
  color: #fff;
}
