<template>
  <div class="main">

    <div class="container-loggedIn">
      <NavBar />
      <router-view />
    </div>

    
  </div>
</template>

<script>
export default {
  name: "LoggedIn",
  components: {
    Header: () => import("./Header/Header"),
    NavBar: () => import("./NavBar/NavBar"),
  },
};
</script>

<style scoped lang="scss">
@import "./loggedin.scss";
</style>
