@import "./tableStyle.scss";
.content-container {
  width: 100%;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: #fff;
  &:hover{
    box-shadow: 0 0 25px -5px #9e9c9e;
  }
  .heading {
    vertical-align: middle;
    line-height: 17px;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    color: #3a405b;
  }

}
