.col-md-12{
  display: flex;
  justify-content: space-between;
}
.form-inline{
  label{
    display:none !important;
  }
}
.VuePagination{
  display:flex;
  justify-content: center;
}
.VueTables__child-row-toggler {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  margin: auto;
  text-align: center;
}

.VueTables__child-row-toggler--closed::before {
  content: "+";
}

.VueTables__child-row-toggler--open::before {
  content: "-";
}
.VueTables{
  margin:20px;
}