.icon{
    cursor: pointer;
    width: 28px;
    height: 28px;
    padding:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:6px;
    margin: 0 10px;
    &:hover{
        background-color: rgba(0,0,0,0.1)
    }
    i{
        width:100%;
        height:100%;
        object-fit: contain;
    }
}