<template>
  <div class="icon" @click="onClick">   
    <i :class="image"></i>
  </div>
</template>

<script>
export default {
  name: "IconButton",
  props: {
    image: {
      type: String,
      default: "",
    },
    onClick: {
      type: Function,
      default: () => {
          return null;
      }
    },
  }
};
</script>

<style scoped lang="scss">
@import "./icon-button.scss";
</style>
